@for(layer of generateSVGService.svgElement.children; track [$index, layer]){
    <div>
        <svg #svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50" [attr.viewBox]="this.generateSVGService.viewBoxSize">
            {{appendLayer(layer, svg)}}
        </svg>
        <span>
            Move up
        </span>
        <span>
            Move Down
        </span>
        <span>
            Merge Up
        </span>
        <span>
            Merge Down
        </span>
        <span>
            Delete
        </span>
    </div>
}