@for(layer of generateSVGService.svgElement.querySelectorAll('g'); track [$index, layer]){
    <div #layerDiv>
        <svg #svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50" [attr.viewBox]="this.generateSVGService.viewBoxSize">
            {{appendLayer(layer, svg)}}
        </svg>
        <span class = 'moveUp' (click)="moveUpClicked($event, layerDiv)">
            Move up
        </span>
        <span class = 'moveDown' (click)="moveDownClicked($event, layerDiv)">
            Move Down
        </span>
        <span class = 'mergeUp' (click)="mergeUpClicked($event, layerDiv)">
            Merge Up
        </span>
        <span class = 'mergeDown' (click)="mergeDownClicked($event, layerDiv)">
            Merge Down
        </span>
        <span class = 'delete' (click)="deleteClicked($event, layerDiv)">
            Delete
        </span>
    </div>
}