.sidebarFileItem{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    color:lightslategrey;
    font-size: 12px;
    margin-left:1%;
    max-width: 98%;
}
.sidebarFileItem:hover{
    background-color: #aaaaff;
}
.evenItem{
    background-color: #bbf;
}
.sidebarFileItem>div{
    flex-grow:1;
    flex-shrink:1;
    padding-left:1%;
    text-align: left;
    max-width: 84%;
    min-width: 10%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.index{
    display: inline-block;
    width:10%;
    color:darkslategray;
    font-size: 18px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.name{
    display: inline-block;
    width: 70%;
    color:darkslategray;
    font-size: 18px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.size{
    padding-left:1%;
    width:19%;
    display: inline-block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.preview{
    margin:auto;
    width:2.5vw;
    height:auto;
}
#addFileInput{
    display: none;
}
#addFileButton{
    width: 98%;
    margin-left:1%;
    margin-top:1%;
    background-color: #99f;
    background-repeat: no-repeat;
}
#addFileButton:hover{
    background-color: #aaaaff;
}
#addFile{
    display: inline-block;
    width:35%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
#fileSize{
    display: inline-block;
    width:65%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
#dropArea{
    height: 100%;
    width: 100%;
}
