span{
    padding-left: 3px;
    padding-right:3px;
    text-align: center;
    border-bottom: #111;
    border-right: #111;
    border-width: 1px;
    border-style: solid;
    user-select: none;
}
span *{
    display: block;
    position:absolute;
    visibility:hidden;
}
#windowOptions{
    padding-left: 0;
    flex-grow:1;
    flex-shrink:1;
    text-align:left;
}
div span:hover{
    background-color: #ccf;
    color:#114
}
div{
    padding:4px;
    flex-wrap: nowrap;
    overflow:hidden
}