<div class = 'button' id="Reset" #reset (mousedown)="controlButtonMouseDown(reset)" (mouseup)="controlButtonMouseUp(reset)">RESET</div>
<div class = 'button' id="Convert" #convert (mousedown)="controlButtonMouseDown(convert)" (mouseup)="controlButtonMouseUp(convert)">CONVERT</div>
<div class = 'button' id="Cancel" #cancel (mousedown)="controlButtonMouseDown(cancel)" (mouseup)="controlButtonMouseUp(cancel)">CANCEL</div>
<div class = 'button' id="Save" #save (mousedown)="controlButtonMouseDown(save)" (mouseup)="controlButtonMouseUp(save)">SAVE</div>