<div class = 'button' id="Reset" #reset (mousedown)="controlButtonMouseDown(reset)" (mouseup)="controlButtonMouseUp(reset)">RESET</div>
<div class = 'button' id="Convert" #convert (mousedown)="controlButtonMouseDown(convert)" (mouseup)="controlButtonMouseUp(convert)">CONVERT</div>
<div class = 'button' id="Remove" #remove (mousedown)="controlButtonMouseDown(remove)" (mouseup)="controlButtonMouseUp(remove)">REMOVE</div>
<div class = 'button' id="Save" #save (mousedown)="controlButtonMouseDown(save)" (mouseup)="controlButtonMouseUp(save)">SAVE</div>