main{
    display:flex;
    overflow: auto;
    height: 100vh;
}
toolbar{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 30px;
    background-color: #114;
    color: #ccf;
    text-align: center;
}
#selectedFilesSidebar{
    width:20vw;
    margin-top: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ccf;
    box-shadow:#111 0px 0px 3px 1px inset; 
    text-align: center;
    overflow: auto;
}
#selectedFileSettings{
    display: flex;
    flex-direction: column;
    margin-top:30px;
    width: 25vw;
}
selectedFileSettings{
    box-shadow:#111 0px 0px 3px 1px inset; 
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ccf;
    text-align: center;
}
#imgPreview{
    display: flex;
    flex-direction: column;
    margin-top:30px;
    width:55vw;
    text-align: center;
}
controls{
    box-shadow:#111 0px 0px 3px 1px inset; 
    height:150px;
    background-color: #ccf;
    text-align: center;
}
imgPreview{
    box-shadow:#111 0px 0px 3px 1px inset; 
    background-color: #ccf;
    display: block;
    flex-grow: 1;
    flex-shrink:1;
    color:black;
}
imgPreviewLayers{
    box-shadow:#111 0px 0px 3px 1px inset; 
    height:150px;
    width: 55vw;
    background-color:#ccf;
    text-align: center;
    vertical-align: middle;
}