main{
    display:flex;
    overflow: auto;
    height: 100vh;
}
#selectedFilesSidebar{
    width:20vw;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ccf;
    box-shadow:#111 0px 0px 3px 1px inset; 
    text-align: center;
    overflow: auto;
}
#selectedFileSettings{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
selectedFileSettings{
    box-shadow:#111 0px 0px 3px 1px inset; 
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ccf;
    text-align: center;
}
#imgPreview{
    display: flex;
    flex-direction: column;
    width:55vw;
    text-align: center;
}
controls{
    box-shadow:#111 0px 0px 3px 1px inset; 
    height:150px;
    background-color: #ccf;
}
imgPreview{
    position:relative;
    box-shadow:#111 0px 0px 3px 1px inset; 
    background-color: #ccf;
    display: flex;
    flex-grow: 1;
    flex-shrink:1;
    color:black;
    overflow:scroll;
}
imgPreviewLayers{
    min-height: 150px;
    box-shadow:#111 0px 0px 3px 1px inset; 
    height:150px;
    width: 55vw;
    background-color:#ccf;
    text-align: center;
    overflow: scroll;
}