<main class="main" (drop)="noDragFunctions($event)" (dragover)="noDragFunctions($event)" (dragend)="noDragFunctions($event)" (dragenter)="noDragFunctions($event)" (dragleave)="noDragFunctions($event)">
  <div id="selectedFilesSidebar">
    <selectedFilesSidebar (imageClickedEventEmitter)="imageClicked($event)"></selectedFilesSidebar>
  </div>
  <div id="selectedFileSettings">
    <selectedFileSettings [selectedFile]="this.clickedImage" (RecolouredImageEmitter)="imageRecolored($event)"></selectedFileSettings>
    <controls></controls>
  </div>
  <div id="imgPreview">
    <imgPreview></imgPreview>
    <imgPreviewLayers></imgPreviewLayers>
  </div>
</main>
<router-outlet />
